<form id="formCite">
    <label for="citeCreator">Creator:</label> <input id="citeCreator" type="text"/><br/>
    <label for="citeText">Cite:</label> <textarea id="citeText"></textarea><br/>
    <input type="submit"/>
</form>